body {
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    background: white;
    font-family: sans-serif;
}

.sphere {
    fill: #f0f8fc;
}

.country {
    stroke: #8f8f8f;
    stroke-opacity: 0.3;
}

.country.highlighted {
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

.country:hover {
    fill: hotpink;
    stroke: deeppink;
    cursor: pointer;
    stroke-opacity: 1;
}

text {
    fill: #284b6b;
    font-size: 0.75rem;
    text-anchor: start;
    text-transform: capitalize;
}

.tick{
    cursor:pointer;
}

.tick-circle, .country-circle {
    fill: #83E2E3;
    fill-opacity: 0.8;
    stroke: #215656;
    stroke-opacity: 0.5;
    pointer-events: none;
}

.legend-title {
    font-weight: bold;
    font-size: 1.125rem;
}